<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Rental Request</h1>
    <%= render "form", cat_rental_request: @cat_rental_request, cats: @cats %>
  </body>
</html>
